* {
    margin: 0;
    padding: 0
}

li {
    list-style: none;
}

#container {
    width: 750px;
    margin: 50px auto;
    position: relative;
}

#img-box img {
    display: none;
}

#img-box img:first-child {
    display: block;
}

#tab {
    position: absolute;
    right: 50px;
    bottom: 40px;
}

#tab li {
    float: left;
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    line-height: 20px;
    color: white;
    margin-right: 5px;
    cursor: pointer;
}

#tab li.actived {
    background: rgba(255, 0, 0, 0.6);
}

.btn {
    display: inline-block;
    position: absolute;
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 50px;
    text-align: center;
    line-height: 45px;
    top: 50%;
    margin-top: -25px;
    /* top: calc(50% - 25px); */
    cursor: pointer;
}

#prev {
    left: 0;
}

#next {
    right: 0;
}